.main-nav-bar {
  background-color: #de6d6d;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* position: absolute; */
  width: 100%;
}

.buttons {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 2.5em;
  padding-bottom: 0.3em;
  /* position: relative; */
}

button:hover {
  cursor: pointer;
}

.image-and-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  font-family: "Bungee", cursive;
  padding-top: 0.3em;
}

.logo {
  display: flex;
  justify-content: center;
  height: 115px;
  margin: 0 0.5em;
  text-align: center;
  border-radius: 70%;
}
.logo:hover {
  cursor: pointer;
}

.about-us {
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  font-size: 18px;
  height: 30px;
  border-color: pink;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  color: rgb(75, 75, 75);
}
