.main-nav-bar {
  /* background-color: rgb(202, 56, 56); */
  background-color: #debaba;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* position: absolute; */
  width: 100%;
}

.buttons {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 3em;
  padding-bottom: 0.3em;
  /* position: relative; */
}

button {
  font-size: 16px;
  height: 30px;
}

button:hover {
  cursor: pointer;
}

.image-and-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 37px;
  font-family: "Bungee", cursive;
  font-family: "Cedarville Cursive", cursive;
  padding-top: 0.3em;
}

img {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 150px;
  margin: 0 0.5em;
  text-align: center;
  border-radius: 70%;
}
