.gallery-name {
  font-size: 35px;
  display: block;
  text-align: center;
  font-family: "Bungee", cursive;
  font-family: "Cedarville Cursive", cursive;
  margin-bottom: 0.3em;
}
.main-nav {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 16px;
}

.image-and-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 35px;
  font-family: "Bungee", cursive;
  font-family: "Cedarville Cursive", cursive;
}

img {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 150px;
  margin: 0 0.5em;
  text-align: center;
  border-radius: 70%;
}
