.our-collection-button {
  font-family: Apple Chancery, cursive;
  font-weight: bold;
  font-size: 18px;
  height: 30px;
  border-color: pink;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  color: rgb(75, 75, 75);
}

.inner-collection-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px 12px;
}

.items {
  font-family: Apple Chancery, cursive;
  border-color: pink;
  border-radius: 10px;
  font-size: 17px;
}
